<div class="card">
    <h6 class="create_heading">Manage Horoscope </h6> 
    <hr>
    <div class="form_container">
        <div class="first_row">
            <div>
                <label for="">Choose Horoscope</label><br>
                <input type="text" class="formStyle"> 
            </div>
            <div>
                <label for="">Date</label><br>
                <input type="date" class="formStyle">
            </div> 
        </div>
        <br><br>
        <label for="">Description(Eng)</label><br>
        <textarea type="text" class="formStyle"> </textarea>
        <br><br>
        <label for="">Description(Nep)</label><br>
        <textarea type="text" class="formStyle"> </textarea>
        <br>
        <br>
        <button class="save_btn">Save</button>  
    </div> 
</div>
