.navigate-usermanagement ul{
    display: flex;
    justify-content: space-evenly; 
    list-style: none;
    background: #fff;
    border-radius: 3px; 
}

.navigate-usermanagement li a{  
    font-size: 14px;
    color: #000;
    display: inline-block;
    /* width: 200px; */
    padding: 15px 30px;
}

.navigate-usermanagement li a:hover{
    text-decoration: none;
}

.navigate-usermanagement li.active a{
    background: #022335;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
    color: #fff;
    border-radius: 4px;
} 

.container{
    border: 1px solid  #E0E0E0;
}

.headline{
    display: flex; 
    justify-content:space-between;
    padding: 10px 0;
    background: #e3e6ea;
} 

.headline,
.table{
    width: 100%;
} 

.table{
    table-layout: fixed;
}

.table td{
    word-wrap: break-word;
}

.headline h6{
    left: 20px !important;
    position: relative;
    font-style: normal;
    font-weight: bolder;
}

.refresh_users{
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 0.1px;
    top: 8px;
}

.edit_icon{
    background-color: #075C33;      
}

.preview_icon{
    background-color: #0C3684; 
}

.delete_icon{
    background-color: #C40000; 
}

.reset_icon{
    background-color: #F63E25;
}

.edit_icon, 
.preview_icon,
.delete_icon,
.reset_icon{
    border-radius: 50%;
    display: inline-block;
    padding: 3px;
    margin: 1px;
    font-size: 22px;
    color:#fff;
}
