<div #Sidenav id="mySidenav" class="sidenav" *ngIf="this.router.url !== '/login'"  [ngClass]="openNav ? 'open' : ' '"> 
    <div class="sideBrand"> 
        <img src="assets/mypay-logo.png">
    </div>
    <app-sidemenu></app-sidemenu>
</div>

<div id="main" class="openNav" [ngClass]="openNav ? 'main-opennav' : ' '">
    <app-nav-menu *ngIf="this.router.url !== '/login'"  [openNav] = openNav (openSideNavFromChild) = "toggleSideNav()" ></app-nav-menu>
    <div  [ngClass] = "(this.router.url === '/login') ? '' : 'content'"> 
        <router-outlet>
        </router-outlet>   
    </div>  
</div>
    


