<div class="container">
  <div class="headline"> 
    <h6>Daily Horoscope</h6> 
    <button type="button" (click)="openDialog()" class="btn btn-primary">+Create</button>
  </div>  
  <div class="row"> 
    <table class="table">
      <thead class="thead-dark">  
        <tr>
          <th scope="col">SN</th>
          <th scope="col">Date</th> 
          <th scope="col">Zodiac</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of listUsers">
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.title }}</td>
          <td>{{ user.title }}</td>
          <td style="width: 130px;"> 
            <!-- Edit -->
            <!-- <a class="action_link" [routerLink]="['edit', user.id]"> -->
            <a class="action_link">
              <span class="edit_icon material-icons-outlined" (click)="editDaily()"> mode_edit </span>
              <!-- <span class="material-icons-round">
                edit
              </span> -->
            </a>

            <!-- View -->
            <!-- <a class="action_link" [routerLink]="['view', user.id]"> -->
            <a class="action_link">
              <span class="preview_icon material-icons-outlined" (click)="previewDaily()"> preview </span>
            </a>
            
            <!-- Delete -->
            <a class="action_link">
              <span class="delete_icon material-icons-outlined" (click)="deleteDaily()"> delete </span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <ul>
    <li *ngFor="let user of listUsers">
      {{user.body}} 
    </li>
  </ul> -->
</div> 
