<div class="container">
    <div class="headline"> 
        <h6>Daily Horoscope</h6>
        <button type="button" class="btn btn-primary">Create</button>
    </div>
  <!-- <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">SN</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div> -->

  <ul>
    <li *ngFor="let user of listUsers">
      {{user.body}} 
    </li>
  </ul>
  
</div>
 