.headline{
    display: flex; 
    justify-content:space-between;
    padding: 10px 0;
} 

.btn{
    border: none;
}

.action_link{
    width: 130px;
}

.edit_icon{
    background-color: rgb(11, 90, 11);
    color:#fff;
   
}

.preview_icon{
    background-color: rgb(20, 20, 116);
    color:#fff;
   
}

.delete_icon{
    background-color: rgb(129, 24, 24);
    color:#fff;
   
}

.edit_icon, 
.preview_icon,
.delete_icon{
    border-radius: 50%;
    display: inline-block;
    padding: 3px;
    margin: 1px;
    font-size: 22px;
}




