<div class="container-fluid"> 

<div class="content">
    <div *ngIf="this.router.url==='/'" class="dashboard">
           
        <div class="dashboard-content">
            <div class="card">
                <div class="card-body text-white first">
                    <h2 class="card-title">Total Users</h2>
                    <p class="count">7542</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-white second ">
                    <h2 class="card-title">Visits Today</h2>
                    <p class="count">7542</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-white third ">
                    <h2 class="card-title">Total Users</h2>
                    <p class="count">7542</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-white fourth">
                    <h2 class="card-title">New Orders</h2>
                    <p class="count">7542</p>
                </div>
            </div>
        </div>
        <pie-chart></pie-chart>
    </div>
       
        <router-outlet></router-outlet> 
    </div>
</div>