/* You can add global styles to this file, and also import other style files */

  html, body { height: 100%; }
  body {
   margin: 0; 
   font-family: 'Poppins', sans-serif; 
  }

  img{
    max-width: 100%; 
  }
  
  h1,h2,h3,h4,h5{
    font-weight: bold;
  }

  #main .menu_logo{
    width: 110px;
    line-height: 45px;
  }
  /* .control-panel .menu_logo,
  .no-control-panel .menu_icon{
    display: block;
  }
  .no-control-panel .menu_logo,
  .control-panel .menu_icon{
    display: none;
  }

  .control-panel .openNav{
    margin-left: 17px;
  } */