
    <form {formGroup]="form"} class="form-register">
        <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
        <input formControlName="name" class="form-control" placeholder="Name" required>
        <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
